.stats-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .stats-table th,
  .stats-table td {
    border: 2px solid #ddd;
  }
  
  .table-header {
    text-align: left;
    width:fit-content;
    padding: 5px; 
  }
  
  .cell-content {
    text-align: left;
    padding-left:7px; 
    padding: 5px 
  }
  
  .player-not-found {
    color: red;
    text-align: center;
  }