<div>
  <div class="header-bar">
    <div class="left-container">
      <div class="header-bar__logo">
        <p>Logo Place holder</p>
      </div>
      <div class="header-bar__menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Our Services</a></li>
          <li><a href="#">Our Work</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="header-bar__logo">
      <p>Icon</p>
    </div>
  </div>
</div>
