<div>
  <div class="header-bar">
    <div class="left-container">
      <div class="header-bar__logo" style="padding-right:20px">
        <img class="header-bar__logo" src="assets\2.svg" alt="Logo" />
      </div>
      <div class="header-bar__menu">
        <ul style="font-weight: bold">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/show-rosters">Show Rosters</a></li>
          <li><a routerLink="/trade-analyzer">Trade Analyzer</a></li>
          <li><a routerLink="player-rankings">Player Rankings</a></li>
          <li><a routerLink="team-rankings">Team Rankings</a></li>
        </ul>
      </div>
    </div>
    <ng-container *ngIf="userService.userData$ | async as userData;">
      <div class="header-bar__logo " *ngIf="userData.avatar">
        <app-avatar
          [avatarId]="userData.avatar"
        ></app-avatar>
      </div>
    </ng-container>
  </div>

  <ng-template #noAvatar>
    <p>logo</p>
  </ng-template>
</div>
