.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Optional: add a shadow to the box */
}
 
  .container h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .25rem;
  }
  
  .container nav a {
    color: white;
    background-color: #4299E1;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-right: 1rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .container nav a:hover {
    background-color: #215e91;
  }
  
  .username-input {
    padding: 0.5rem;
    border: 2px solid #CBD5E0;
    border-radius: 0.25rem;
    margin-right: 1rem;
    background-color : #F7FAFC;
  }
  
  .welcomeBlock h1 {
    font-size: 1.875em;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .flex {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  button {
    color: rgb(255, 255, 255);
    background-color: #4299E1;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.1s ease-in-out;
  }
  
  button:hover {
    background-color: #3182CE;
  }

  .mainMenu {
    display:flex;
    flex-direction:column;  
    align-items: center; 
    
  }
  
  .bar{
    height:2rem; 
    margin-top: 1rem; 
  }

  .a {

  }