.rosters-container {
    background-color: #edf2f7; /* approximate color for gray-200 in Tailwind CSS */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 1rem; 
  }
  
  .rosters-content {
    padding: 1rem; 
  }
  
  .rosters-title {
    font-size: 1.875em; /* approximate size for text-3xl in Tailwind CSS */
    font-weight: bold;
    margin-bottom: .5rem; 
  }
  
  .rosters-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }
  
  @media (min-width: 768px) {
    .rosters-grid {
      grid-template-columns: 1fr;
    }
  }


  .legend {
    display: flex;
    align-items: center;
    margin-bottom: .25rem; 
  }
  
  .legend-title {
    margin-right: 10px;
    margin-bottom : 0px; 
  }
  
  .legend-scale {
    display: flex;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-right: 5px; /* Adjust the spacing between legend items as needed */
  }
  
  .legend-color {
    width: 20px; /* Size of the color square */
    height: 20px; /* Size of the color square */
    display: inline-block;
    margin: 2px; /* Spacing between the square and the label */
  }