<div
  (click)="openModal($event)"
  [ngClass]="boxColorClass"
  class="player-card"
>
  <div class="player-info">
    <div class="player-image-container">
      <img [src]="imgUrl" [alt]="player.name" class="player-image" />
    </div>
    <p class="player-name">
      [{{player.position}}] {{player.name}}
    </p>
  </div>
  <p class="player-value">{{player.tradeValue}}</p>
</div>
<app-player-modal *ngIf="this.isModalOpen" [player]="player" (closeModal)="closeModal($event)"></app-player-modal>